body {
  background: #FFF;
  color: #000;
  padding: 2.5rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6; }

.sitemap {
  margin: 0 0 2.5rem 0;
  float: left;
  width: 100%; }

h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 0 0.3125rem 0; }

h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.625rem;
  color: #777;
  margin: 0 0 1.25rem 0; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.sitemap {
  margin: 0 0 1.25rem;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .sitemap li {
    flex-grow: 1;
    padding: 1.25rem 0.625rem 0;
    position: relative; }
    .sitemap li a {
      position: relative;
      border: 2px solid #BABABA;
      border-radius: 5px;
      padding: 10px;
      display: inline-block; }
  .sitemap li::before {
    content: "#";
    width: 100%;
    position: absolute;
    top: 0;
    height: 1.25rem;
    line-height: 1;
    left: 0;
    text-align: center;
    vertical-align: bottom; }

.horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  position: relative; }
  .horizontal li {
    background: url("./images/h-line.svg") repeat-x scroll left top transparent;
    padding-left: 0;
    text-align: center; }
  .horizontal li:first-child {
    padding-left: 0; }
  .horizontal li::before,
  .horizontal li a + ul::before,
  .horizontal > li:first-child,
  .horizontal > li:first-child::before,
  .horizontal > li:last-child,
  .horizontal > li:last-child::before {
    background: none no-repeat scroll center top transparent; }
  .horizontal li::before {
    content: " "; }
  .horizontal li a + ul::before {
    content: " ";
    width: 100%;
    position: absolute;
    top: 0;
    height: 1.25rem;
    line-height: 1;
    left: 0;
    text-align: center;
    vertical-align: bottom;
    background-image: url("./images/h-begin-line.svg"); }
  .horizontal > li:first-child {
    background-image: url("./images/h-end-line-left.svg"); }
  .horizontal > li:last-child {
    background-image: url("./images/h-end-line-right.svg"); }
  .horizontal li::before,
  .horizontal > li:first-child::before,
  .horizontal > li:last-child::before {
    background-image: url("./images/h-end-line.svg"); }
  .horizontal > li:first-child:last-child {
    background: none; }
  .horizontal > li:first-child:last-child::before {
    background-image: none; }

.horizontal:first-of-type > li:first-child:last-child::before {
  background-image: url("./images/h-end-line.svg"); }

.horizontal::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  height: 1.25rem;
  line-height: 1;
  left: 0;
  text-align: center;
  vertical-align: top;
  background: url("./images/h-center-top.svg") no-repeat scroll center top transparent; }

.sitemap.horizontal::before {
  background: none; }

.vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  position: relative; }
  .vertical li a + ul {
    padding-left: 1.25rem; }
  .vertical > li {
    padding: 1.25rem 0 0 1.25rem;
    margin: 0;
    width: 100%; }
  .vertical > li::before {
    content: "";
    width: 1.25rem;
    height: 100%;
    background: url("./images/v-line.svg") repeat-y scroll 0 0 transparent; }
  .vertical > li > a::before {
    background: none repeat-x scroll center left transparent;
    background-image: url("./images/h-line.svg");
    content: "";
    position: absolute;
    top: 0;
    left: -2.25rem;
    width: 1.25rem;
    height: 100%; }
  .vertical > li:last-child::before {
    background: none no-repeat scroll 0 0 transparent;
    background-image: url(./images/v-bottom-end-line.svg);
    background-position: bottom 4.25rem left 0; }
  .vertical > li:first-child:last-child {
    padding: 0; }
  .vertical > li:first-child:last-child::before {
    background-image: none;
    border: none; }
  .vertical > li:first-child:last-child > a::before {
    background-image: none; }
  .vertical > li .vertical::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    background: url("./images/h-line-top.svg") repeat-x scroll 0 0 transparent;
    width: 20px;
    height: 20px; }
  .vertical > li a + .vertical::before {
    background: none; }

a + .vertical > li:first-child:last-child {
  padding: 1.25rem 0 0 1.25rem; }
a + .vertical > li:first-child:last-child::before {
  background: none no-repeat scroll 0 0 transparent;
  background-image: url(./images/v-bottom-end-line.svg);
  background-position: bottom 4.25rem left 0; }

.horizontal .vertical > li {
  background: none;
  padding: 20px 0 0 20px;
  text-align: left; }

.horizontal .vertical::before {
  background: none; }

.horizontal > li > a + .vertical {
  margin-top: 20px; }

.horizontal > li > a + .vertical::before {
  background: url("./images/h-v-union.svg") no-repeat scroll center bottom transparent;
  top: -20px; }

.vertical > li > .horizontal::before {
  background: url(./images/v-bottom-end-line.svg) no-repeat scroll left 20px bottom 9px transparent; }

/*# sourceMappingURL=style.css.map */
